@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap");

body {
  background-color: #FFF9DE;
  line-height: 2;
  font-family: 'Lora', serif;
  font-weight: lighter;
  font-size: 17px;
}

h1, h2 {
  font-family: 'Roboto', sans-serif;
}

h1 {
  color: #5C5F7D;
  font-size: 32px;
}

h2 {
  color: #5C5F7D;
  font-size: 20px;
}

#img_aaron {
  border-radius: 100px;
  transition: 0.5s;
  object-fit: cover;
}
#img_aaron:hover {
  transform: scale(1.5);
}

.container {
  width: 700px;
  margin: 40px auto;
}


@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}

.card {
  background-color: white;
  padding: 40px;
  border-radius: 4px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 20px 0px;
}

a {
  font-size: 15px;
  color: white;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

a:hover {
  color: rgba(0, 0, 0, 0.7);
}

#boton_main {
  background-color: #6B72E1;
  padding: 15px 20px;
  border-radius: 4px;
}

.inline_list {
  list-style: none;
  padding-left: 0px;
}

.inline_list li {
  display: inline;
  padding: 10px;
}

.inline_list i {
  font-size: 50px;
  color: rgb(230, 230, 230);
}

.inline_list i:hover {
  color: black;
}

#esp_pfo {
  margin-bottom: 40px;
}
